<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532669460851-cuo7fch7cv54k8j5l64rn4aooljm3pgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532669460851-cuo7fch7cv54k8j5l64rn4aooljm3pgq</string>
	<key>API_KEY</key>
	<string>AIzaSyCcKfTuy8Iwa5HWBAxjpDEUci8wEogtkJw</string>
	<key>GCM_SENDER_ID</key>
	<string>532669460851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masseur.ios</string>
	<key>PROJECT_ID</key>
	<string>masseurs-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>masseurs-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532669460851:ios:e78a3b4e42f0e08b78d506</string>
	<key>DATABASE_URL</key>
	<string>https://masseurs-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>